[workspace]
resolver = "2"
members = [
    "buildpacks/nodejs-engine",
    "buildpacks/nodejs-corepack",
    "buildpacks/nodejs-npm-engine",
    "buildpacks/nodejs-npm-install",
    "buildpacks/nodejs-pnpm-engine",
    "buildpacks/nodejs-pnpm-install",
    "buildpacks/nodejs-yarn",
    "common/nodejs-utils",
    "test_support",
]

[workspace.package]
rust-version = "1.80"
edition = "2021"

[workspace.lints.rust]
unreachable_pub = "warn"
unsafe_code = "warn"
unused_crate_dependencies = "warn"
# Allows the usage of cfg(coverage_nightly).
# cargo-llvm-cov enables that config when instrumenting our code, so we can enable
# the experimental coverage_attribute feature.
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage_nightly)'] }

[workspace.lints.clippy]
panic_in_result_fn = "warn"
pedantic = { level = "warn", priority = -1 }
unwrap_used = "warn"
enum_variant_names = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
module_name_repetitions = "allow"

[workspace.dependencies]
heroku-nodejs-utils = { path = "./common/nodejs-utils" }
test_support = { path = "./test_support" }
bullet_stream = { version = ">=0.8,<1.0", features = ["fun_run"] }

[profile.release]
strip = true
