[workspace]
members = [
  "buildpacks/nodejs-engine",
  "buildpacks/nodejs-corepack",
  "buildpacks/nodejs-function-invoker",
  "buildpacks/nodejs-npm-install",
  "buildpacks/nodejs-pnpm-install",
  "buildpacks/nodejs-yarn",
  "common/nodejs-utils",
  "test_support"
]

[workspace.package]
version = "0.0.0"
rust-version = "1.67"
edition = "2021"
publish = false

[workspace.dependencies]
commons = { git = "https://github.com/heroku/buildpacks-ruby", branch = "schneems/logging-state-machine-continued" }
heroku-nodejs-utils = { path = "./common/nodejs-utils" }
indoc = "2"
# libcnb has a much bigger impact on buildpack behaviour than any other dependencies,
# so it's pinned to an exact version to isolate it from lockfile refreshes.
libcnb-data = { git = "https://github.com/heroku/libcnb.rs", branch = "libcnb_test_meta_buildpack_support" }
libcnb-test = { git = "https://github.com/heroku/libcnb.rs", branch = "libcnb_test_meta_buildpack_support" }
libcnb = "=0.14.0"
libherokubuildpack = "=0.14.0"
serde = "1"
serde_json = "1"
test_support = { path = "./test_support" }
tempfile = "3"
thiserror = "1"
toml = "0.7"
ureq = "2"

[profile.release]
strip = true
