[package]
name = "heroku-nodejs-corepack-buildpack"
description = "Heroku Node.js Corepack Cloud Native Buildpack"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
heroku-nodejs-utils.workspace = true
indoc = "2"
libcnb = "=0.16.0"
libherokubuildpack = "=0.16.0"
opentelemetry = "0.21.0"
serde = "1"
thiserror = "1"

[dev-dependencies]
libcnb-test = "=0.16.0"
test_support.workspace = true
ureq = "2"
