[package]
name = "heroku-nodejs-corepack-buildpack"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
heroku-nodejs-utils.workspace = true
indoc = "2"
libcnb = { version = "=0.17.0", features = ["trace"] }
libherokubuildpack = "=0.19.0"
opentelemetry = "0.22"
serde = "1"
thiserror = "1"

[dev-dependencies]
libcnb-test = "=0.17.0"
test_support.workspace = true
ureq = "2"
