[package]
name = "heroku-nodejs-corepack-buildpack"
description = "Heroku Node.js Corepack Cloud Native Buildpack"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libcnb = "0.13"
libherokubuildpack = "0.13"
serde = "1.0.166"
thiserror = "1.0"
indoc = "2.0"

[dev-dependencies]
libcnb-test = "0.13"
test_support = { path = "../../test_support" }
ureq = "2.7.1"
