[package]
name = "heroku-nodejs-utils"
description = "Libs and bins for Heroku Node.js Buildpacks"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
anyhow = "1"
chrono = { version = "0.4", features = ["serde"] }
commons.workspace = true
indoc.workspace = true
node-semver = "2"
regex = "1"
serde = { workspace = true, features = ['derive'] }
serde_json.workspace = true
serde-xml-rs = "0.6"
thiserror.workspace = true
toml.workspace = true
ureq = { workspace = true, features = ["json"] }
url = "2"

[dev-dependencies]
tempfile.workspace = true
