[package]
name = "heroku-nodejs-utils"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
anyhow = "1"
chrono = { version = "0.4", default-features = false, features = ["serde"] }
commons = { git = "https://github.com/heroku/buildpacks-ruby", branch = "main" }
heroku-inventory-utils = { git = "https://github.com/heroku/buildpacks-go/", rev = "2a86fae18332b9bd495eb29422c13ac3fcb2d0dc" }
indoc = "2"
node-semver = "2"
opentelemetry = "0.22"
opentelemetry_sdk = { version = "0.22", features = ["trace"] }
opentelemetry-stdout = { version = "0.3", features = ["trace"] }
regex = "1"
serde = { version = "1", features = ['derive'] }
serde_json = "1"
serde-xml-rs = "0.6"
thiserror = "1"
toml = "0.8"
ureq = { version = "2", features = ["json"] }
url = "2"

[dev-dependencies]
tempfile = "3"
