[package]
name = "heroku-nodejs-utils"
version = "0.0.0"
description = "Libs and bins for Heroku Node.js Buildpacks"
publish = false
edition = "2021"
rust-version = "1.60"

[dependencies]
ureq = "2.5.0"
url = "2.2"
serde = { version = "1.0.142", features = ['derive'] }
serde-xml-rs = "0.5.1"
serde_json = "1.0.83"
node-semver = "2.0"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
regex = "1.6"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
tempfile = "3.3.0"
