[package]
name = "heroku-nodejs-utils"
description = "Libs and bins for Heroku Node.js Buildpacks"

[dependencies]
anyhow = "1"
chrono = { version = "0.4", features = ["serde"] }
node-semver = "2"
regex = "1"
serde = { version = "1", features = ['derive'] }
serde_json = "1"
serde-xml-rs = "0.6"
thiserror = "1"
toml = "0.5"
ureq = "2"
url = "2"

[dev-dependencies]
tempfile = "3"
