[package]
name = "heroku-nodejs-utils"
version = "0.0.0"
description = "Libs and bins for Heroku Node.js Buildpacks"
publish = false
edition = "2021"
rust-version = "1.64"

[dependencies]
ureq = "2.5.0"
url = "2.3"
serde = { version = "1.0.149", features = ['derive'] }
serde-xml-rs = "0.6.0"
serde_json = "1.0.89"
node-semver = "2.1"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
regex = "1.7"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
tempfile = "3.3.0"
