[package]
name = "heroku-nodejs-engine-buildpack"
version = "0.0.0"
description = "Heroku Node.js Engine Cloud Native Buildpack"
publish = false
edition = "2021"
rust-version = "1.60"

[dependencies]
libcnb = "0.8"
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libherokubuildpack = "0.9"
serde = "1.0.139"
tempfile = "3.3.0"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
libcnb-test = "0.4"
ureq = "2.5.0"
