[package]
name = "heroku-nodejs-engine-buildpack"
description = "Heroku Node.js Engine Cloud Native Buildpack"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libcnb = "0.13"
libherokubuildpack = "0.13"
serde = "1.0.166"
tempfile = "3.6.0"
toml = "0.7"
thiserror = "1.0"

[dev-dependencies]
libcnb-test = "0.13"
ureq = "2.7.1"
