[package]
name = "heroku-nodejs-engine-buildpack"
version = "0.0.0"
description = "Heroku Node.js Engine Cloud Native Buildpack"
publish = false
edition = "2021"
rust-version = "1.58"

[dependencies]
libcnb = "0.6"
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libherokubuildpack = "0.7"
serde = "1.0.136"
tempfile = "3.3.0"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
libcnb-test = "0.3"
ureq = "2.4.0"
