version: 2.1

orbs:
  pack: buildpacks/pack@0.2.2
  heroku-buildpacks:
    commands:
      install-yq:
        steps:
          - run:
              name: "Install yj 5.0.0"
              command: |
                bin_dir="$(mktemp -d)"
                curl --retry 3 --fail --max-time 10 --location "https://github.com/sclevine/yj/releases/download/v5.0.0/yj-linux" --output "${bin_dir}/yj"
                chmod +x "${bin_dir}/yj"

                echo "export PATH=\"${bin_dir}:\${PATH}\"" >> $BASH_ENV
      install-build-dependencies:
        steps:
          - run:
              name: "Install rsync, jq via apt"
              command: sudo apt-get update && sudo apt-get install -y rsync jq
          - install-yq

jobs:
  package-buildpack:
    parameters:
      buildpack-dir:
        type: string
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - setup_remote_docker
      - pack/install-pack:
          version: 0.16.0
      - heroku-buildpacks/install-build-dependencies
      - run:
          name: "Build and package buildpack with retries"
          command: |
            n=1
            until [ "$n" -ge 5 ]
            do
              package_toml="<< parameters.buildpack-dir >>/package.toml"

              if [[ -f "<< parameters.buildpack-dir >>/build.sh" ]]; then
                "./<< parameters.buildpack-dir >>/build.sh"
                package_toml="<< parameters.buildpack-dir >>/target/package.toml"
              fi

              pack buildpack package test --config "${package_toml}" && break
            done

  shell-linting:
    docker:
      - image: koalaman/shellcheck-alpine:v0.7.2
    steps:
      - run: "apk add git"
      # shfmt is currently (Jan 2021) only available in the edge community repository.
      - run: "apk add shfmt --repository=http://dl-3.alpinelinux.org/alpine/edge/community"
      - checkout
      - run:
          name: "shellcheck"
          command: "shfmt -f . | grep -v ^test/ | xargs shellcheck"
      - run:
          name: "shfmt"
          command: "shfmt -f . | grep -v ^test/ | grep -v '_shpec.sh$' | xargs shfmt -d"

  shpec:
    parameters:
      stack-version:
        type: "string"
        default: "20"
      buildpack-dir:
        type: "string"
    docker:
      - image: "heroku/heroku:<<parameters.stack-version>>-build"
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      # Required so that yq is available for buildpacks that depend upon the nodejs-engine's copy of yq.
      - heroku-buildpacks/install-yq
      - run:
          name: Install shpec
          command: sh -c "`curl -L https://raw.githubusercontent.com/rylnd/shpec/master/install.sh`"
      - run:
          name: Shpec unit tests on heroku-<<parameters.stack-version>>
          command: shpec << parameters.buildpack-dir >>/shpec/*_shpec.sh

workflows:
  version: 2
  ci:
    jobs:
      - shell-linting
      - shpec:
          matrix:
            parameters:
              buildpack-dir:
                - "buildpacks/nodejs"
                - "buildpacks/nodejs-function-invoker"
                - "buildpacks/npm"
                - "buildpacks/typescript"
              stack-version:
                - "18"
                - "20"

      - package-buildpack:
          matrix:
            parameters:
              buildpack-dir:
                - "buildpacks/nodejs"
                - "buildpacks/nodejs-function-invoker"
                - "buildpacks/npm"
                - "buildpacks/typescript"
                - "meta-buildpacks/nodejs"
                - "meta-buildpacks/nodejs-function"
                - "test/meta-buildpacks/nodejs"
                - "test/meta-buildpacks/nodejs-function"
