[package]
name = "heroku-npm-engine-buildpack"
description = "Heroku Node.js npm Engine Cloud Native Buildpack"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
commons.workspace = true
heroku-nodejs-utils.workspace = true
libcnb.workspace = true
libherokubuildpack.workspace = true
serde.workspace = true
indoc.workspace = true
tempfile.workspace = true
toml.workspace = true

[dev-dependencies]
libcnb-test.workspace = true
serde_json.workspace = true
test_support.workspace = true