[package]
name = "heroku-nodejs-function-invoker-buildpack"
version = "0.0.0"
description = "Heroku Node.js Function Invoker Cloud Native Buildpack"
publish = false
edition = "2021"
rust-version = "1.58"

[dependencies]
libcnb = "0.6"
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libherokubuildpack = { version = "0.6", features = ["toml"] }
serde = "1.0.136"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
tempfile = "3.3.0"
