[package]
name = "heroku-nodejs-function-invoker-buildpack"
version = "0.0.0"
description = "Heroku Node.js Function Invoker Cloud Native Buildpack"
publish = false
edition = "2021"
rust-version = "1.60"

[dependencies]
libcnb = "0.11"
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libherokubuildpack = { version = "0.10", features = ["toml"] }
serde = "1.0.145"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
libcnb-test = "0.10"
tempfile = "3.3.0"
ureq = "2.5.0"
