[package]
name = "heroku-nodejs-function-invoker-buildpack"
version = "0.0.0"
description = "Heroku Node.js Function Invoker Cloud Native Buildpack"
publish = false
edition = "2021"
rust-version = "1.64"

[dependencies]
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libcnb = "0.11"
libherokubuildpack = "0.11"
serde = "1.0.145"
toml = "0.5"
thiserror = "1.0"

[dev-dependencies]
libcnb-test = "0.11"
tempfile = "3.3.0"
ureq = "2.5.0"
serde_json = "1.0.85"
test_support = { path = "../../test_support" }
