[package]
name = "heroku-nodejs-yarn-buildpack"
description = "Heroku Node.js Yarn Cloud Native Buildpack"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
heroku-nodejs-utils = { path = "../../common/nodejs-utils" }
libcnb = "0.13"
libherokubuildpack = "0.13"
serde = "1"
tempfile = "3"
thiserror = "1.0"
toml = "0.7"

[dev-dependencies]
libcnb-test = "0.13"
test_support = { path = "../../test_support" }
ureq = "2"
