name: Update Inventory

on:
  workflow_dispatch:
  schedule:
    - cron: '00 4 * * 1-5'

# Disable all GITHUB_TOKEN permissions, since the GitHub App token is used instead.
permissions: { }

jobs:
  update-nodejs-inventory:
    name: Update Node.js Inventory
    runs-on: pub-hk-ubuntu-24.04-ip
    env:
      INTEGRATION_TEST_CNB_BUILDER: heroku/builder:24

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ vars.LINGUIST_GH_APP_ID }}
          private-key: ${{ secrets.LINGUIST_GH_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # The dpkg man-db trigger is excessively slow on GHA runners, see e.g.:
      # https://github.com/actions/runner-images/issues/10977
      # https://github.com/actions/runner/issues/4030
      # We disable it here so it does not fire at the end of the following apt-get install
      - name: Disable man-db auto-update
        run: sudo rm -f /var/lib/man-db/auto-update

      - name: Install musl-tools
        run: sudo apt-get install musl-tools -y --no-install-recommends

      - name: Update Rust toolchain
        run: rustup update

      - name: Install Rust linux-musl target
        run: rustup target add x86_64-unknown-linux-musl

      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install Pack CLI
        uses: buildpacks/github-actions/setup-pack@06e250da5bb4ccb9a2103719a21d2a7f2252fe83 # v5.11.0

      - name: Install Nextest
        uses: taiki-e/install-action@cfdb446e391c69574ebc316dfb7d7849ec12b940 # v2.68.8
        with:
          tool: nextest

      - name: Pull builder image
        run: docker pull ${{ env.INTEGRATION_TEST_CNB_BUILDER }}

      - name: Pull run image
        run: |
          RUN_IMAGE=$(
            docker inspect --format='{{index .Config.Labels "io.buildpacks.builder.metadata"}}' '${{ env.INTEGRATION_TEST_CNB_BUILDER }}' \
            | jq --exit-status --raw-output '.stack.runImage.image'
          )
          docker pull "${RUN_IMAGE}"

      - name: Rebuild Inventory
        id: rebuild-inventory
        run: |
          delimiter="$(openssl rand -hex 8)"
          {
            echo "msg<<${delimiter}"
            cargo update-nodejs-inventory
            echo "${delimiter}"
          } >> $GITHUB_OUTPUT

      - name: Rebuild Snapshots
        env:
          # this will prevent a snapshot difference from failing a test
          INSTA_FORCE_PASS: 1
          # this will force all snapshot differences to be accepted
          INSTA_UPDATE: force
        run: cargo nextest run --run-ignored only --locked

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          title: "Update Node.js Inventory"
          commit-message: "Update Inventory for heroku/nodejs-engine\n\n${{ steps.rebuild-inventory.outputs.msg }}"
          committer: ${{ vars.LINGUIST_GH_APP_USERNAME }} <${{ vars.LINGUIST_GH_APP_EMAIL }}>
          author: ${{ vars.LINGUIST_GH_APP_USERNAME }} <${{ vars.LINGUIST_GH_APP_EMAIL }}>
          branch: update-nodejs-inventory
          body: "Automated pull-request to update heroku/nodejs-engine inventory:\n\n${{ steps.rebuild-inventory.outputs.msg }}"

      - name: Configure PR
        if: steps.pr.outputs.pull-request-operation == 'created'
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: gh pr merge --squash --auto "${{ steps.pr.outputs.pull-request-number }}"

